{% extends "base.j2" %}
{% block title %}Game{% endblock %}
{% block head %}
<script src="/static/game.js" defer></script>
{% endblock %}

{% block content %}
    <div class="problem-card">
        <div class="problem-info">
            <h1>Całka {{ game.current_round + 1 }}/{{ game.rounds | length }}</h1>
            <p>Wynik: {{ game.score }}</p>
            <p>Próba: {{ game.tries + 1 }}</p>
            <p>Serie: {{ game.serie + 1 }}</p>
        </div>
        <div class="problem">
            <div class="expression">
                \( {{ round.integral }} \)
            </div>
            <div id="transformations">
                {% for i in range(round.transformations_num) %}
                <div class="transformation empty-transformation" data-idx = "{{ i }}"></div>
                {% endfor %}
            </div>
            <div class="choices">
            {% for transformation in round.transformations %}
                <div class="choice" data-idx="{{ transformation.idx }}">
                    \( {{ transformation.content }} \)
                </div>
            {% endfor %}
            </div>
        </div>
        <form method="post" action="/my_game">
            {% for i in range(round.transformations_num) %}
            <input type="hidden" name="{{ i }}" id="in-{{ i }}">
            {% endfor %}
            <a href=""><button class="btn btn-secondary">Wyjdź</button></a>
            <button type="submit" class="btn btn-primary">Dalej</button>
        </form>
    </div>
{% endblock %}