{% extends "base.j2" %}
{% block title %} Game {% endblock %}
{% block head %}
<script src="/static/game.js" defer></script>
{% endblock %}

{% block content %}
    {% if answers is not none %}
        <div class="alert alert-danger" role="alert">
            Niektóre z wybranych odpowiedzi były błędne. Proszę je popraw.
        </div>
    {% endif %}
    <div class="problem-card">
        <div class="problem-info">
            <h1>Całka {{ game.current_round + 1 }}/{{ game.rounds | length }}</h1>
            <p>Wynik: {{ game.score }}</p>
            <p>Próba: {{ game.tries + 1 }}</p>
            <p>Serie: {{ game.serie + 1 }}</p>
        </div>
        <div class="problem">
            <div class="expression">
                \( {{ round.integral }} \)
            </div>
            <div id="transformations">
                {% for i in range(round.transformations_num) %}
                    {% if answers is none or answers[i] == false %}
                        <div class="transformation empty-transformation" data-idx = "{{ i }}"></div>
                    {% else %}
                        {% for transformation in round.transformations %}
                        {% if transformation.idx == i %}
                            <div class="transformation" data-idx="{{ i }}">
                                \( {{ transformation.content }} \)
                            </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="choices">
            {% for transformation in round.transformations %}
                {% if not answers[transformation.idx] %}
                <div class="choice" data-idx="{{ transformation.idx }}">
                    \( {{ transformation.content }} \)
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <form method="post" action="/my_game">
            {% for i in range(round.transformations_num) %}
                {% if answers is none or answers[i] == false %}
                    <input type="hidden" name="{{ i }}" id="in-{{ i }}">
                {% else %}
                    {% for transformation in round.transformations %}
                    {% if transformation.idx == i %}
                        <input type="hidden" name="{{ i }}" id="in-{{ i }}" value="{{ i }}">
                    {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <a href="/" class="btn btn-secondary" role="button">Wyjdź</a>
            <button type="submit" class="btn btn-primary">Dalej</button>
        </form>
    </div>
{% endblock %}