{% extends "base.j2" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 id = "welcome-header">Witaj w aplikacji {{ project_name }}!</h1>
<div id="welcome-description" class="text">
    Witaj w Całkuj! Wybierz poziom trudności i uzupełniaj okienka
</div>
<form method="get" action="/start_game">
    <button type="submit" class="btn btn-success">Zacznij grę</button>
</form>
{% endblock %}