body{
    background-color: #080E2C;
    color: #ECF4F1;
}

.problem-card {
    max-width: 520px;
    margin: 2rem auto 0 auto;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    padding: 1rem;
}

.problem-info {
    margin: 0.5rem 0 0.5rem 0;
}

.expression {
    font-size: 2rem;
}

.transformation {
    font-size: 2rem;
    border: 2px dashed black;
    margin: 1rem 0;
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    max-width: fit-content;
}

.empty-transformation {
    min-width: 10rem;
    min-height: 3rem;
    max-width: 10rem;
}

.selected {
    background-color: #fcd062;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.choice {
    margin: 0 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.problem {
    margin: 2rem 0.5rem 2rem 0.5rem;
}

.content {
    max-width: 720px;
    margin: auto;
}

